
#title {
  background-color: #ff4c68;
}

#pricing{
  text-align: center;
  padding: 3% 15%;
}

#cta{
  text-align: center;
  padding: 8% 15%;
  background-color: #ff4c68;
}
.cta-heading{
  margin-bottom: 3rem;
}

#footer{
  text-align: center;
}

#features{
  text-align: center;
}
h1{
  font-family: "Montserrat-black";
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}
.container-fluid{
  padding: 3% 15%;
}
.carousel-item{
  padding: 3% 15%;
}
.colored-section{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
#testimonials {
  background-color: #ef8172;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 3% 15%;
}

.navbar-brand{
  font-size: 1.5rem;
  font-family: "Ubuntu";
}
.nav-link {
  font-size: 1rem;
  font-family: "Ubuntu";
}
.navbar{
  padding-bottom: 3rem;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
.feature-box {
  padding: 4.5%
}

.title-image{
  transform: rotate(25deg);
}
.download-button{
  margin-top: 3rem;

}
.social-icon {
  margin: 20px 10px;
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }
  .title-image{
    margin-top: 2rem;
    transform: rotate(0);
  }

}
